html,
body {
    background: #222;
}

* {
    font-family: monospace;
}

h1,
p {
    color: lightgreen;
}

#logo {
    max-width: 64px;
}

#footer {
    position: absolute;
    left: 0;
    bottom: 0;
}

.ui-widget {
    /* color: black; */
}

[value] {
    border: medium solid red;
}
